/target
**/*.rs.bk
Cargo.lock
.idea
node_modules
.DS_Store

# Generated WebAssembly modules
tests/jsdom/jsdom_tests*
examples/isomorphic/client/isomorphic_client*
examples/isomorphic/client/*bundle.js
examples/isomorphic/client/*.module.wasm
