/target
**/*.rs.bk
Cargo.lock
.idea
node_modules
.DS_Store

# Generated WebAssembly modules
tests/jsdom/jsdom_tests*
examples/isomorphic/client/dist
examples/isomorphic/client/build
examples/isomorphic/worker/build
examples/isomorphic/worker/dist
examples/isomorphic/worker/.wrangler
examples/isomorphic/worker/node_modules
